@import "./settings";


.todos-container {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;

    padding: 10 10px 10px 20px;
    border-left: 1px solid lightgray;
    margin-top: 50px;
    position: relative;

    .todo-card {
        width: 350px;
        height: 300px;
        border-radius: 10px;
        padding: 10px;
        position: relative;

        .todo-title {
            display: flex;
            justify-content: space-between;
            gap: 10px;
            margin-bottom: 20px;

            h2 {
                width: 80%;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            }

            img {
                width: 60px;
                height: 50px;
                position: relative;
                left: 10px;
                bottom: 5px;
                border-radius: 5px;
            }
        }

        .todo-body {
            // hide text after 6 lines
            overflow: hidden;
            width: 95%;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 6;
            -webkit-box-orient: vertical;
        }

        .todo-footer {
            width: 100%;
            @include flexCenter(row, space-between);
            position: absolute;
            right: 10px;
            bottom: 20px;
            padding: 0 10px;


            .deadline {
                text-align: left;
                @include flexCenter();
            }


            .todo-action-buttons {
                @include flexCenter(row, $gap: 2px);

                a.btn {
                    width: 30px;
                    height: 30px;
                    @include flexCenter(row);
                    padding: 0;

                    svg {
                        width: 18px;
                        height: 18px;
                    }
                }
            }
        }

        &.create-card-button {
            font-size: 3em;
            @include flexCenter();
            background-color: lightgray;
            cursor: pointer;
        }
    }
}