@import "./settings";

nav {
    transition: 0.2s;


    &.left-navbar {
        background-color: #eee;
        padding: 20px;
        border-radius: 20px;
    }

    .content {
        transition: 0.2s;
        padding: 20px;
    }

    .searchbar {
        display: grid;
        grid-template-columns: 30px 1fr;
        margin: 20px 0 40px 0;
        border: 1px solid gray;
        width: 100%;
        height: 35px;
        padding: 0 10px;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 5px;

        svg {
            position: relative;
            bottom: 2px;
        }

        input {
            border: none;
            outline: none;
            background-color: transparent;
        }
    }

    .sections {
        .tasks {
            div svg {
                position: relative;
                top: 3px;
                margin-right: 5px;
            }

            .upcoming,
            .today,
            .calendar,
            .sticky {
                margin: 12px 5px;
            }
        }

        .lists {

            .personal,
            .work,
            .first-list,
            .new-list {
                margin: 12px 5px;

                svg {
                    margin-right: 5px;
                }
            }

            h6 {
                margin: 15px 0;
            }
        }

        .tags {
            h6 {
                margin: 15px 0;
            }

            .tgs {
                @include flexCenter(row, flex-start, center, 5px, wrap);

                &>div {
                    padding: 5px 10px;
                    cursor: pointer;
                    border-radius: 5px;
                    @include flexCenter(row, center, center, 0px);
                }

                .tag-1 {
                    background-color: lightblue;
                }

                .tag-2 {
                    background-color: lightpink;
                }

                .new-tag {
                    background-color: rgba(102, 102, 102, 0.4);
                }
            }
        }
    }

    .parametrs {
        margin-top: 50px;

        &>div {
            &>a {
                width: 110px;
                display: inline-block;
                padding: 5px 10px;
                background-color: lightgray;
                border-radius: 10px;
                margin: 0 20px 10px 0;

                svg {
                    margin-right: 5px;
                }

                &.sign-in-link {
                    background-color: lightgray;
                }

                &.login-link {
                    background-color: lightgray;
                }
            }
        }
    }
}