{% extends 'base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'styles/home.css' %}" />
{% endblock %}

{% block content %}
  <h1>{{ title }}</h1>

  <div class="todos-container">
    {% comment %} <a href="{% url 'create_todo' %}" class="btn btn-primary btn-sm float-end">Create todo</a> {% endcomment %}
    {% for item in todos %}
      <div class="todo-card" style="background-color: {{ item.background_color }}; color:{{ item.color }}">
        <div class="todo-title">
          <h2 class="card-title">{{ item.title|title }}</h2>
          <button type="button" onclick="event.target.requestFullscreen()" class="btn todo-author-tooltip" style="background-color: {{ item.background_color }};"><img src="{{ item.owner.profile.image.url }}" alt="Image not found" width="60" height="50" /></button>
        </div>
        <div class="todo-body">
          <p>{{ item.description }}</p>
        </div>
        <div class="todo-footer">
          <div class="deadline ps-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="{{ item.color }}" class="bi bi-hourglass-split" viewBox="0 0 16 16">
              <path d="M2.5 15a.5.5 0 1 1 0-1h1v-1a4.5 4.5 0 0 1 2.557-4.06c.29-.139.443-.377.443-.59v-.7c0-.213-.154-.451-.443-.59A4.5 4.5 0 0 1 3.5 3V2h-1a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-1v1a4.5 4.5 0 0 1-2.557 4.06c-.29.139-.443.377-.443.59v.7c0 .213.154.451.443.59A4.5 4.5 0 0 1 12.5 13v1h1a.5.5 0 0 1 0 1zm2-13v1c0 .537.12 1.045.337 1.5h6.326c.216-.455.337-.963.337-1.5V2zm3 6.35c0 .701-.478 1.236-1.011 1.492A3.5 3.5 0 0 0 4.5 13s.866-1.299 3-1.48zm1 0v3.17c2.134.181 3 1.48 3 1.48a3.5 3.5 0 0 0-1.989-3.158C8.978 9.586 8.5 9.052 8.5 8.351z" />
            </svg>
            <small>{{ item.deadline }}</small>
          </div>
          <div class="todo-action-buttons">
            <a href="{% url 'todo_details' item.id %}" class="btn btn-outline-dark">
              <svg xmlns="http://www.w3.org/2000/svg" fill="orange" class="bi bi-eye" viewBox="0 0 16 16">
                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z" />
                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
              </svg>
            </a>
            <a href="{% url 'update_todo' item.id %}" class="btn btn-outline-dark">
              <svg xmlns="http://www.w3.org/2000/svg" fill="yellowgreen" class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
              </svg>
            </a>
            <a href="#" class="btn btn-outline-dark" onclick="handleDelete({{ item.id }})">
              <svg xmlns="http://www.w3.org/2000/svg" fill="red" class="bi bi-trash3" viewBox="0 0 16 16">
                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
              </svg>
            </a>
          </div>
        </div>
      </div>
    {% endfor %}

    <a href="{% url 'create_todo' %}"><div class="todo-card create-card-button">➕</div></a>
  </div>
{% endblock %}

{% block script %}
  <script>
    function handleDelete(todoID) {
      Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#dd333350',
        confirmButtonText: 'Yes, delete it!'
      }).then((result) => {
        if (result.isConfirmed) {
          Swal.fire({
            title: 'Deleted!',
            text: 'Your file has been deleted.',
            icon: 'success'
          })
          let URL = "{% url 'delete_todo_item' 9999999999 %}"
          setTimeout(() => {
            location.href = URL.replace('9999999999', todoID)
          }, 1000)
        }
      })
    }
  </script>
{% endblock %}
